.site-header {

  position: fixed;
  top: 25px;
  left: 25px;
  color: white;

  a {
    color: white;
    font-weight: bold;
    font-size: 3.1em;
    line-height: 0.7;
    text-align: right;
    margin: -8px;
  }

  .box {
    height: 110px;
    width: 100px;
    margin: 0 0 0 20px;

    &.a {
      background: #f66f38;
    }

    &.b {
      background: #f9ee46;
      height: 24px;
    }

    &.c {
      background: #eb7cfb;
      height: 35px;
      width: 120px;
      margin: 0;
    }

    &.d {
      background: #f66f38;
      height: 35px;
    }
  }
}
